.shopping-list {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.shopping-list__header {
  display: flex;
  flex-direction: column;
  gap: clamp(0.25rem, 0.125rem + 0.5vw, 0.5rem);
  padding: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);

  background: linear-gradient(
    90deg,
    var(--color-brown-dark) 0%,
    var(--color-brown-light) 100%
  );
  border-bottom: var(--border-width) solid var(--color-white-10);
}

.shopping-list__title {
  font-size: clamp(1.25rem, 1rem + 1vw, 1.875rem);
  font-weight: var(--font-weight-normal);
  line-height: 1.3;
  color: var(--color-white);
}

.shopping-list__subtitle {
  font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem);
  line-height: 1.4;
  color: var(--color-text-highlight);
}

.shopping-list__form {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.5rem + 0.75vw, 1rem);
  padding: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
  background-color: var(--color-white-05);
  border-bottom: var(--border-width) solid var(--color-white-10);
}

.shopping-list__inputs {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 0.25rem + 0.5vw, 0.75rem);
}

.shopping-list__input {
  width: 100%;
  font-family: var(--font-family);
  font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1rem);
  padding: clamp(0.1rem, 0.2rem + 0.2vw, 1.5rem);
  line-height: 1.4;
  color: var(--color-background);
  background-color: var(--color-white-90);
  border: var(--border-width) solid var(--color-white-30);
  border-radius: var(--radius-sm);
}

.shopping-list__input::placeholder {
  color: var(--color-placeholder);
}

.shopping-list__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.375rem, 0.25rem + 0.5vw, 0.5rem);
  width: 100%;
  padding: clamp(0.300rem, 0.4rem + 0.5vw, 0.675rem);
  font-family: var(--font-family);
  font-size: clamp(0.600rem, 0.70rem + 0.5vw, 0.8rem);
  line-height: 1.4;
  color: var(--color-white);
  background-color: var(--color-primary-alpha-80);
  border: none;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

.shopping-list__btn-icon {
  width: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
  aspect-ratio: 1;
}
